body {
    background-color: palegreen;
}

.green-button {
    color: green;
    background-color: black;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}