body {
    background-color: palegreen;
    width: 100%;
}

.green-button {
    color: green;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-decoration-color: honeydew;
}

.bold-header {
    font-weight: bold;
    text-align: center;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}